#links{
    color: brown;
    text-decoration: none;
}

html{
    background-color: rgb(0, 235, 184);
    padding: 20px;
}

#name{
    font-size: 60px;
    color:  blueviolet;
    background-color: aquamarine;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#Hidden{
    font-size: 40px;
    color: blue;
    visibility: hidden;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.hovering:hover #Hidden{
    visibility: visible;

}



body{
    text-align: center;
}

#videoGames{
    color: brown;
    text-align: center;
}

#student{
    font-size: 25px;
}

#Collaboration{
    color: green;
    text-align: center;
}

#Patience{
    color: crimson;
    text-align: center;
}

#Contact{
    font-size: 30px;
    background-color: blueviolet;
}

#Skills{
    font-size: 30px;
    background-color: brown;
}

#aboutme{
    font-size: 30px;
    background-color: darkmagenta;
}

#desc{
    font-size: 23px;
    background-color: coral;
}
